*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	/* background: #373737; */
	/* background: radial-gradient(ellipse at bottom, #191b1c 0%, black 100%); */
	background-color: black;
	height: 100vh;
	overflow: hidden;
}

.container {
    position: relative;
    text-align: center;
	top: 35%;
}

.portfolio-image {
    max-width: 15%; /* Ensure the image doesn't exceed its original size */
    height: auto; /* Maintain the aspect ratio of the image */
    position: relative;
    z-index: 2; /* Ensure the image is above the raindrops */
}

#title {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 100%;
	left: 50%;
    transform: translate(-50%);
	color: #FFF;
	text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 300;
    font-size: 2vw;
	z-index: 2;
}

.menu-button {
    position: fixed;
    top: 2%;
    left: 2%;
	font-family: 'Ubuntu Mono', monospace;
    font-size: 2em;
    cursor: pointer;
    color: #FFF;
}

.menu-button-container {
	position: absolute;
    top: 2%; /* Adjust the bottom position based on your design */
    left: 2%;
    display: flex;
    /* justify-content: space-between; */
	z-index: 1;
}

.umbrella-coverage {
    position: absolute;
    top: 41%; /* Adjust the top position based on the design */
    left: 50%;
    transform: translateX(-50%);
    width: 15%; /* Adjust the width of the coverage box based on the umbrella size */
    height: 59%; 
	overflow: hidden;
	z-index: 1; 
	/* Adjust the height of the coverage box based on the umbrella size */
    background: black; /* Set the background color of the coverage box */
	/*background: radial-gradient(ellipse at bottom, #191b1c 0%, black 100%);*/
    /* border: 1px solid #FFF; /* Add a border to visualize the coverage box 
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.overlay-content {
    position: absolute;
    top: 2%;
    right: 2%;
	width: 30%;
	font-family: 'Ubuntu Mono', monospace;
    text-align: right;
    color: #FFF;
}

.overlay-content span {
    display: block;
    margin-bottom: 20px;
    font-size: 2em;
    cursor: pointer;
}

.overlay-content span2 {
    display: block;
    margin-bottom: 20px;
    font-size: 2em;
    cursor: pointer;
}

.overlay-content span.small {
    font-size: 1em;
}

.button-container {
    position: absolute;
	width: 6%;
    bottom: 2%; /* Adjust the bottom position based on your design */
    left: 50%;
	height: 20%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
	z-index: 1;
}

.button {
    width: 5vh; /* Adjust the width of each button */
    height: 5vh; /* Adjust the height of each button */
	background-size: cover;
	background-position: center;
    border: none; /* Adjust the border color and style */
	align-self: flex-end;
	z-index: 1;
	aspect-ratio: 1 / 1;
}

.secret-button {
    font-size: 0.5rem;      /* small */
    opacity: 0;            /* subtle */
	cursor: default !important;
	
}

.overlay-content span:hover,
.overlay-content span:active {
    color: #7393B3; /* Change text color when hovered over or pressed */
}

a:link {
  color: #7393B3;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #7393B3;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #7393B3;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #7393B3;
  background-color: transparent;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .container {
        top: 50%; /* Adjusted for better positioning on mobile */
    }
	.portfolio-image {
		max-width: 30%;
	}
    #title {
        font-size: 5vw; /* Adjust font size for better visibility on mobile  */
    }
	.overlay-content{
		width: 80%;
	}
	.overlay-content span {
		right: 4%;
		font-size: 1.5em;
	}
	.menu-button {
		left: 4%;	
		font-size: 2em;
	}
	.button-container {
		width: 20%
	}
	.overlay-content span.small {
		font-size: .75em;
	}
	.umbrella-coverage {
		top: 55%; /* Adjust the top position based on the design */
		height: 45%;
		width: 30%;/* Adjust the height of the coverage box based on the umbrella size */
	}
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
	.container {
        top: 45%; /* Adjusted for better positioning on mobile */
    }
	.portfolio-image {
		max-width: 15%;
	}
    #title {
        font-size: 5vh; /* Adjust font size for better visibility on mobile  */
    }
	.overlay-content{
		width: 80%;
	}
	.overlay-content span {
		right: 4%;
		font-size: 1.5em;
	}
	.menu-button {
		left: 4%;	
		font-size: 2em;
	}
	.button-container {
		width: 7.5%
	}
	.overlay-content span.small {
		font-size: .75em;
	}
	.umbrella-coverage {
		top: 50%; 
		height: 50%;
		width: 15%;
	}
}

i
{
	position: absolute;
	height: 200px;
	background: linear-gradient(transparent, #FFF); /*#wv33007*/
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0%
	{
		transform: translateY(-200px);
	}
	100%
	{
		transform: translateY(calc(100vh + 200px));
	}
}

/*
@keyframes animateAboveUmbrellaPC {
    0% 
	{
        transform: translateY(-200px);
    }
    100% 
	{
        transform: translateY(calc(30% + 200px));
    }
}

@keyframes animateAboveUmbrellaMobile {
    0% 
	{
        transform: translateY(-200px);
    }
    100% 
	{
        transform: translateY(calc(26vh));
    }
} */